.App {
  text-align: center;
}

.App-logo {
  height: 15vh;
  pointer-events: none;
}

.App-header {
  font-family: "Oswald", sans-serif;
  background-color: #666666;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff8811;
  border-bottom: white solid 1px;
}

.App-body {
  background-color: #202020;
  height: 80vh;
}

.App-footer {
  font-family: "Oswald", sans-serif;
  background-color: #666666;
  height: 5vh;
  border-top: white solid 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #47ff44;
}
