.Timeclock-panel {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
}

.Timeclock-welcome {
  font-size: 5vh;
  margin: 0;
}

.Timeclock-clock {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 8vh;
}

.Timeclock-clock-in-since {
  font-size: 3vh;
}

.Timeclock-button-clock-in {
  flex-grow: 2;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 7vh;
  background-color: #47ff44;
  border-radius: 3vmin;
  border-color: white;
  padding: 3vmin;
  margin: 1vh;
  max-height: 30vh;
  max-width: 75vw;
}

.Timeclock-button-clock-out {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 7vh;
  background-color: #ff8811;
  border-radius: 3vmin;
  border-color: white;
  padding: 3vmin;
  margin: 1vh;
  max-height: 30vh;
  max-width: 75vw;
}
